



<a href="https://hacklab01.org/medialab"></a>
<a href="https://scan.wiki/books/autonomna-digitalna-mrezna-umjetnost/page/sazetak"></a>
<a href="https://pivilion.net/read-me/"></a>
<a href="https://en.wikipedia.org/wiki/Autonomy"></a>
<a href="https://laedc.org/wp-content/uploads/2015/02/Raytheon-Slides.pdf"></a>
<a href="https://transportist.org/2017/06/29/on-the-differences-between-autonomous-automated-self-driving-and-driverless-cars/"></a>
<a href="https://en.wikipedia.org/wiki/Hackerspace#Ethic"></a>

<a href="https://kayserworks.com/#/798817030644/"></a>
<a href="https://back7.co/home/raspberry-pi-recovery-kit"></a>
<a href="https://back7.co/post/137926305194/raspberry-pi-field-unit-rpfu"></a>
<a href="https://www.evanmeaney.com/_recpi.html"></a>
<a href="https://manual.bibliotecha.info/"></a>
<a href="https://0100101110101101.org/personal-photographs/"></a>
<a href="https://github.com/huertanix/pi2pi"></a>
<a href="https://collapseos.org/"></a>
<a href="https://github.com/hsoft/collapseos"></a>
<a href="https://github.com/adamhrv/UselessApp"></a>
<a href="https://togethernet-website.herokuapp.com/"></a>
<a href="http://crash-stop.blogspot.com/2021/07/mantissa-self-capturing-displacement.html"></a>
<a href="https://autonomous.mur.at/"></a>
<a href="https://additivism.org/about"></a>
<a href="https://arambartholl.com/dead-drops/"></a>
<a href="https://www.hdlu.hr/2013/09/projekt-solarno-stablo/"></a>
<a href="http://sivazona.hr/events/towar-kuu-uzgon"></a>
<a href="https://www.jutarnji.hr/scena/strane-zvijezde/performans-hrvoja-cokarica-i-rambo-amadeusa-solarni-tovar-6622566"></a>
<a href="https://tokyotypedirectorsclub.org/en/award/2020_rgb/"></a>
<a href="https://jamesbridle.com/works/autonomous-trap-001"></a>
<a href="https://medium.com/@simondlr/lets-summon-an-autonomous-artist-a-bot-that-creates-owns-and-sells-its-own-art-ada1afad086a"></a>
<a href="https://www.eyebeam.org/rapid-response/"></a>
<a href="https://torquetorque.net/publications/critical-kits/"></a>
<a href="https://shanefinan.org/visual_art_pages/woodwideweb.html"></a>
<a href="http://onursonmez.com/home/sunscriber/"></a>
<a href="http://www.interface.ufg.ac.at/christa-laurent/WORKS/artworks/SolarDisplay/SolarDisplay.html"></a>
<a href="https://ifnat.net/2020/06/16/what-is-autonomous-art-what-is-kunstfreiheit-artistic-freedom/"></a>

<a href="https://totalism.org/"></a>
<a href="https://e2h.totalism.org/e2h.php?_=@khg"></a>
<a href="https://networksofonesown.constantvzw.org/"></a>
<a href="https://www.pzwart.nl/experimental-publishing/"></a>
<a href="https://sobtec.gitbooks.io/sobtec2/content/en/"></a>
<a href="http://solarprotocol.net/manifesto.html"></a>
<a href="https://solar.lowtechmagazine.com/"></a>
<a href="https://solar.lowtechmagazine.com/power.html"></a>
<a href="https://solar.lowtechmagazine.com/2020/01/how-sustainable-is-a-solar-powered-website.html"></a>
<a href="http://solarprotocol.net/library.html"></a>

<a href="http://pi.qcontinuum.com/project.html"></a>
<a href="https://www.pcwelt.de/ratgeber/Raspberry-Pi-mit-Sonnenenergie-betreiben-Umweltfreundliche-Energiegewinnung-9727053.html"></a>
<a href="https://github.com/Organic-Basics/ob-low-impact-website"></a>
<a href="https://scrapy.org/"></a>
<a href="https://www.meshpointone.com/about/"></a>
<a href="https://www.otvorenamreza.org/"></a>
<a href="https://ipfs.io/"></a>
<a href="https://sunroof.withgoogle.com/"></a>

<a href="https://theculturetrip.com/europe/italy/articles/bruno-munari-futurism-function-and-useless-machines/"></a>
<a href="https://en.wikipedia.org/wiki/Automaton"></a>
<a href="https://en.wikipedia.org/wiki/Automation"></a>
<a href="https://www.smithsonianmag.com/smart-news/robot-apocalypse-inches-closer-as-machines-learn-to-install-solar-panels-7509869/"></a>
<a href="https://spectrum.ieee.org/are-telepresence-robots-the-best-way-to-explore-other-worlds"></a>
<a href="https://www.bbvaopenmind.com/en/technology/digital-world/what-is-autonomic-computing/"></a>
<a href="https://en.wikipedia.org/wiki/Android_(robot)"></a>
<a href="https://en.wikipedia.org/wiki/Ubiquitous_computing"></a>
<a href="https://www.pcmag.com/news/ways-to-generate-power-after-the-apocalypse"></a>

<a href="https://www.degruyter.com/document/doi/10.1515/jisys-2014-0173/html"></a>
<a href="https://www.generativeart.com/on/cic/papersGA2007/07.pdf"></a>
<a href="https://core.ac.uk/download/pdf/268414383.pdf"></a>
<a href="https://ieeexplore.ieee.org/document/1687596"></a>
<a href="https:/instagram.com/arambartholl/"></a>
<a href="https://evanbrooks.info/bindery/"></a>
<a href="http://tom.medak.click/en/workflows/"></a>






















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































