<meta name="viewport" content="width=device-width, initial-scale=1">
<pre>
welcome to Notes on Autonomy, a hypergenerated webscraping artist webzine by <a href="https://formatc.hr">Format C</a>

Made at mur.at residency 2021. 

This is a WIP, thanks for bearing with us. :) 

<a href="static/">HTML source</a>
<a href="book/">book</a>

Scraped with <a href="https://scrapy.org/">Scrapy</a>, PDF rendered by <a href="https://evanbrooks.info/bindery/">bindery.js</a>

Works best in Chromium-based browsers!
__    __ _____  _____ __ __   __ __  __  _____  _____ 
\\ /\ //((   )) ||_// ||<<   ((  ||==|| ((   )) ||_// 
 \V/\V/  \\_//  || \\ || \\ \_)) ||  ||  \\_//  ||   

Sat 28.8.2021 @ <a href="https://mur.at/post/paradigmshifts-lab/">Paradigmshifts</a>

<a href="https://www.docker.com/">docker</a>
<a href="https://etherpad.mur.at/p/noa">etherpad.mur.at/p/noa</a>
</pre>
