/* FONTS */
/* 8 bit operator */

	@font-face {
		font-family: '8 bit operator';
		font-style: normal;
		font-weight: 400;
		src: url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
		src: local('8 bit operator'), local('8bitOperatorPlus-Regular'),
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/8bitOperatorPlus-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
	}
	@font-face {
		font-family: 'Pixel operator FC';
		font-style: normal;
		font-weight: 400;
		src: url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/PixelOperator-FC.eot'); /* IE9 Compat Modes */
		src: local('Pixel operator FC'), local('PixelOperator-FC'),
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/8bitOperatorPlus-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
	}
	/* space-mono-regular - latin_latin-ext */
	@font-face {
		font-family: 'Space Mono';
		font-style: normal;
		font-weight: 400;
		src: url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
		src: local('Space Mono'), local('SpaceMono-Regular'),
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-regular.woff2') format('woff2'), /* Super Modern Browsers */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-regular.woff') format('woff'), /* Modern Browsers */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-regular.ttf') format('truetype'), /* Safari, Android, iOS */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-regular.svg#SpaceMono') format('svg'); /* Legacy iOS */
	}
	/* space-mono-italic - latin_latin-ext */
	@font-face {
		font-family: 'Space Mono';
		font-style: italic;
		font-weight: 400;
		src: url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
		src: local('Space Mono Italic'), local('SpaceMono-Italic'),
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-italic.woff2') format('woff2'), /* Super Modern Browsers */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-italic.woff') format('woff'), /* Modern Browsers */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-italic.ttf') format('truetype'), /* Safari, Android, iOS */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-italic.svg#SpaceMono') format('svg'); /* Legacy iOS */
	}
	/* space-mono-700 - latin_latin-ext */
	@font-face {
		font-family: 'Space Mono';
		font-style: normal;
		font-weight: 700;
		src: url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700.eot'); /* IE9 Compat Modes */
		src: local('Space Mono Bold'), local('SpaceMono-Bold'),
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700.woff2') format('woff2'), /* Super Modern Browsers */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700.woff') format('woff'), /* Modern Browsers */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700.ttf') format('truetype'), /* Safari, Android, iOS */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700.svg#SpaceMono') format('svg'); /* Legacy iOS */
	}
	/* space-mono-700italic - latin_latin-ext */
	@font-face {
		font-family: 'Space Mono';
		font-style: italic;
		font-weight: 700;
		src: url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700italic.eot'); /* IE9 Compat Modes */
		src: local('Space Mono Bold Italic'), local('SpaceMono-BoldItalic'),
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700italic.woff2') format('woff2'), /* Super Modern Browsers */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700italic.woff') format('woff'), /* Modern Browsers */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/space-mono-v5-latin_latin-ext-700italic.svg#SpaceMono') format('svg'); /* Legacy iOS */
	}
	/* Dina 10px FC */
	@font-face {
		font-family: 'Dina 10px FC';
		src: url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/Dina10px-FC.woff2') format('woff2'),
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/Dina10px-FC.woff') format('woff'),
			url('https://formatc.hr/wp-content/themes/inbox-fc/fonts/Dina10px-FC.ttf') format('truetype');
	}

/* BASIC */

	body{
		font-family: 'Space Mono', monospace;
		color: #3A3A3A;
		margin: 30px 10px 20px 10px;
		font-size: 16px;
		line-height: 1.25;
		background-color: #d9d9d9;
		background-image: radial-gradient(circle at 1px 1px, #ffe135 1px, transparent 0);
		background-size: 20px 20px;
		word-wrap: keep-all;
		overflow-wrap: break-word;
		white-space: auto;
		-webkit-hyphens: auto;
		-moz-hyphens: auto;
		hyphens: auto;
		counter-reset: page;
		-webkit-print-color-adjust: exact !important;
	}

	::-moz-selection { /* Code for Firefox */
		color: #292929;
		font-size: 20px;
		text-shadow: 1px 1px 10px rgba(255, 20, 146, 1); /*#FF1493;*/
	}

	::selection {
		color: #292929;
		font-size: 20px;
		text-shadow: 1px 1px 10px rgba(255, 20, 146, 1); /*#FF1493;*/
	}

	.page-count:after {
		counter-increment: page;
		content: counter(page);
	}

	p, span {
		font-size: 16px;
		font-weight: normal;
		page-break-inside: avoid;
	}

	.p-small {
		font-size: 12px;
	}

	h1, h2, h3, h4, h5, h6{
		font-weight: normal;
		color: #292929;
		text-shadow: 10px 1px 10px rgba(255, 20, 146, 1);
	/*   text-shadow: #292929 10px 1px 10px;/*#FF1493 10px 10px 50px; ILI 0 0 10px rgba(255, 20, 146, 1); ILI text-shadow: #292929 10px 1px 10px;*/
		padding: 0;
		word-break: normal;
		page-break-after: avoid;
		line-height: 2;
		word-break: break-all;
	}

	h1,h2,h3,h4::-moz-selection { /* Code for Firefox */
		color: #292929;
		text-shadow: 10px 1px 10px rgba(255, 20, 146, 1);
	}

	h1,h2,h3,h4::selection {
		color: #292929;
		text-shadow: 10px 1px 10px rgba(255, 20, 146, 1);
	}

	h5::-moz-selection { /* Code for Firefox */
		color: #292929;
		text-shadow: #FF1493 1px 1px 5px;
	}

	h5::selection {
		color: #292929;
		text-shadow: #FF1493 1px 1px 5px;
	}

	h1{
	/*	font-size: 50px;*/
		font-size: 35px;
		font-family: '8 bit operator', monospace;
		text-decoration: underline overline wavy;
	/*   page-break-before: always;*/
		string-set: doctitle content();
		counter-reset: footnote;
		text-size-adjust: auto;
		page-break-after: avoid;
		clear: all;
		word-break: keep-all;
	}

	h2{
		font-size: 40px;
		font-family: '8 bit operator', monospace;
		page-break-after: avoid;
	}

	h3{
		font-size: 30px;
		font-family: 'Space Mono', monospace;
		page-break-after: avoid;
	}

	h4{
		font-size: 20px;
		font-family: 'Space Mono', monospace;
		page-break-after: avoid;
		word-break: keep-all;
	}

	h5{
		font-size: 10px;
		font-family: 'Space Mono', monospace;
	/* 	page-break-before: always;
		page-break-after: avoid; */
		border-top: 1px dotted #292929;
		margin-top: 20px;
		clear: left;
	}

	code, pre, label {
		font-family: 'Dina 10px FC', monospace;
		font-size: 16px;
		font-weight: normal;
		text-shadow: 1px 1px 10px rgba(255, 20, 146, 1);
		page-break-inside: avoid;
	}

	a:link, a:visited {
		color: #3A3A3A;
		text-shadow: 1px 1px 10px rgba(255, 20, 146, 1); /*#FF1493;*/
		font-weight: bold;
		text-decoration: none;
	}

	a:hover, a:active {
		/*color: #5733af;*/
		text-shadow: #FF1493 1px 1px 5px;
		font-weight: bold;
		text-decoration: overline underline wavy #FF1493;
		line-height: 1.0!important;
		transition-duration: 0.25s;
	}

/* IMAGES, TABLES, LISTS */

	img{
		float: left;
		display: block;
		width: 600px;
		height: auto;
		max-width: 100%;
		max-height: auto;
		margin: 0px 20px 20px 0px;
		object-fit: cover;
		border: 1px solid #292929;
		box-shadow: 1px 1px 5px #292929;
	/*  filter: grayscale(100%) contrast(200%) saturate(200%) brightness(100%); 
		opacity: 0.5;
		mix-blend-mode: screen;*/
		mix-blend-mode: unset!important;
		filter: none!important;
	/*	page-break-after: always;*/
		clear: all;
	}

	img:hover, img:active {
		display: block;
		border: 1px solid #FF1493;
		box-shadow: 1px 1px 5px #FF1493;
		-webkit-transition-duration: 0.25s;
		transition-duration: 0.25s;
		mix-blend-mode: unset;
		opacity: 1;
		filter: none;
	}

	table {
		width: 100%!important;
		overflow-x: hidden;
		font-family: "Dina 10px FC";
		page-break-inside: avoid;
	}

		thead tr td {
			font-family: "Dina 10px FC";
			font-size: 1rem;
			font-weight: 700;
			font-style: normal;
			background-color: #888;
			color: #fff;
			border-color: var(--color-border);
			border-style: dashed;
			border-width: 1px;
		}

		tbody tr td {
			font-family: "Dina 10px FC";
			font-size: 1rem;
			border-color: #292929;
			border-style: dashed;
			border-width: 1px;
		}

		tfoot tr td {
			font-family: "Dina 10px FC";
			font-size: 1rem;
			border-color: #292929;
			border-style: dashed;
			border-width: 1px;
		}

	hr {
		border-top-style: dashed;
		border-top-color: #474747;
		border-top-width: 1px;
	}

	ul {
		list-style-position: inside;
	}

	li {
		list-style: square;
		padding-left: 0px;
		margin-left: 20px;
	}

	blockquote {
		border-left: 20px solid #474747;
	}

	.fn {
		float: footnote;
		counter-increment: footnote;
	}

	/*<p>paragraph <span class="footnotes">footnote</span> paragraph</p>*/

	.fn::footnote-call {
		content: counter(footnote);
		font-size: 9pt;
		vertical-align: super;
		line-height: none;
	}

/* HEADERS, FOOTERS */

	header {
		font-family: 'Space Mono', monospace;
		font-size: .75rem;
	}

	footer {
		font-family: 'Space Mono', monospace;
		font-size: .75rem;
	}
	
	.hidden{
	display:none;
	}

	#first {
	background-image: url('https://pivilion.net/wp-content/themes/pivilion/img/bg-tile-opacity.png');
	height: 100%;
	filter: invert(1);
	background-repeat: round;
	}

	#first > h1, #first > h4 {
		padding: 20px;
		filter: invert(1);
	}

	#first > h4 {
		position: absolute;
		bottom: 10px;
		line-height: 18px;
	}